<div id="page-wrapper" class="page-loading">
	<!-- Preloader -->
	<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
	<!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
	<div class="preloader">
		<div class="inner">
			<!-- Animation spinner for all modern browsers -->
			<div class="preloader-spinner themed-background hidden-lt-ie10">
			</div>

			<!-- Text for IE9 -->
			<h3 class="text-primary visible-lt-ie10">
				<strong>Loading..</strong>
			</h3>
		</div>
	</div>
	<!-- END Preloader -->

	<div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
		<!-- Alternative Sidebar -->
		<div id="sidebar-alt" tabindex="-1" aria-hidden="true">
			<!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
			<a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');">
				<i class="fa fa-times">
				</i>
			</a>

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll-alt">

			</div>
			<!-- END Wrapper for scrolling functionality -->
		</div>
		<!-- END Alternative Sidebar -->

		<!-- Main Sidebar -->
		<div id="sidebar">
			<!-- Sidebar Brand -->
			<div id="sidebar-brand" class="themed-background">
				<a href="/" class="sidebar-title">
					<i class="">
					</i> <span class="sidebar-nav-mini-hide">The<strong>Foodie Market</strong>
				</span>
			</a>
		</div>
		<!-- END Sidebar Brand -->

		<!-- Wrapper for scrolling functionality -->
		<div id="sidebar-scroll">
			<!-- Sidebar Content -->
			<div class="sidebar-content">
				<!-- Sidebar Navigation -->
				<ul class="sidebar-nav">

					<li class="sidebar-separator">
						<i class="fa fa-ellipsis-h">
						</i>
					</li>

					<li>
						<a href="">
							<i class="fa fa-eye sidebar-nav-icon">
							</i>
							<span class="sidebar-nav-mini-hide">Ads Approval</span>
						</a>
					</li>

					<li class="active">
						<a href="#" class="sidebar-nav-menu">
							<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide">
							</i>
							<i class="fa fa-users sidebar-nav-icon">
							</i>
							<span class="sidebar-nav-mini-hide">Customer Management</span>
						</a>
						<ul>
							<li>
								<a href="/admin-account-user">Account Table</a>  
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="sidebar-nav-menu">
							<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide">
							</i>
							<i class="fa fa-briefcase sidebar-nav-icon">
							</i>
							<span class="sidebar-nav-mini-hide">Merchant Management</span>
						</a>
						<ul>
							<li>
								<a href="/admin-add-merchant">Add a Merchant</a>
							</li>
							<li >
								<a href="/admin-account-merchant">Account Table</a>
							</li>
						</ul>
					</li>


					<li>
						<a href="#" class="sidebar-nav-menu">
							<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide">
							</i>
							<i class="fa fa-dollar sidebar-nav-icon">
							</i>
							<span class="sidebar-nav-mini-hide">Transactions</span>
						</a>
						<ul>
							<li>
								<a href="admin-transaction-merchant">Merchant Payment</a>
							</li>
							<li>
								<a href="admin-transaction-user">Customer Cashout</a>
							</li>
						</ul>
					</li>

				<!-- <li>
					<a href="">
						<i class="fa fa-inbox sidebar-nav-icon">
</i>
						<span class="sidebar-nav-mini-hide">Inbox</span>
					</a>
				</li> -->
			</ul>
			<!-- END Sidebar Navigation -->
		</div>
		<!-- END Sidebar Content -->
	</div>
	<!-- END Wrapper for scrolling functionality -->

	<!-- Sidebar Extra Info -->
	<div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
		<div class="text-center">
			<small>Crafted with <i class="fa fa-heart text-danger">
			</i> by AT+CO.JR. </small>
		</div>
	</div>
	<!-- END Sidebar Extra Info -->
</div>
<!-- END Main Sidebar -->

<!-- Main Container -->
<div id="main-container">

	<header class="navbar navbar-inverse navbar-fixed-top">
		<!-- Left Header Navigation -->
		<ul class="nav navbar-nav-custom">
			<!-- Main Sidebar Toggle Button -->

			<li>
				<a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
					<i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;">
					</i>
					<i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;">
					</i>
				</a>
			</li>
			<!-- END Main Sidebar Toggle Button -->

			<!-- Header Link -->
			<li class="hidden-xs animation-fadeInQuick">
				<a>
					<strong>All Merchant Account</strong>
				</a>
			</li>
			<!-- END Header Link -->
		</ul>
		<!-- END Left Header Navigation -->

		<!-- Right Header Navigation -->
		<ul class="nav navbar-nav-custom pull-right">
			<!-- Search Form -->
					<!-- <li>
						<form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
							<input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
						</form>
					</li> -->
					<!-- User Dropdown -->
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-sign-in" style="margin-bottom: 13px; margin-top: 13px;">
							</i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">

							<li>
								<a href="/logout">
									<i class="fa fa-sign-out fa fa-inbox fa-fw pull-right">
									</i>
									Logout
								</a>
							</li>
							
							
						</ul>
					</li>
					<!-- END User Dropdown -->
				</ul>    
			</header>
			<!-- END Header -->

			<!-- Page content -->
			<div id="page-content">
			

			</div>
			<!-- END Page Content -->
		</div>
		<!-- END Main Container -->
	</div>
	<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->