<div id="page-wrapper" class="page-loading">
	<!-- Preloader -->
	<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
	<!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
	<div class="preloader">
		<div class="inner">
			<!-- Animation spinner for all modern browsers -->
			<div class="preloader-spinner themed-background hidden-lt-ie10"></div>

			<!-- Text for IE9 -->
			<h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
		</div>
	</div>
	<!-- END Preloader -->

	<div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
		<!-- Alternative Sidebar -->
		<div id="sidebar-alt" tabindex="-1" aria-hidden="true">
			<!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
			<a id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll-alt">

			</div>
			<!-- END Wrapper for scrolling functionality -->
		</div>
		<!-- END Alternative Sidebar -->

		<!-- Main Sidebar -->
		<div id="sidebar">
			<!-- Sidebar Brand -->
			<div id="sidebar-brand" class="themed-background">
				<a href="/admin" class="sidebar-title">
					<i class="fa fa-home"></i> <span class="sidebar-nav-mini-hide">The<strong>Foodie Market</strong></span>
				</a>
			</div>
			<!-- END Sidebar Brand -->

			<!-- Wrapper for scrolling functionality -->
			<div id="sidebar-scroll">
				<!-- Sidebar Content -->
				<div class="sidebar-content">
					<!-- Sidebar Navigation -->
					<ul class="sidebar-nav">
						<li class="" style="text-align:center;">
							<strong>ADMIN</strong>
						</li>
						
						<li class="sidebar-separator">
							<i class="fa fa-ellipsis-h"></i>
						</li>

						<li>
							<a href="/admin">
								<i class="fa fa-eye sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Ads Approval</span>
							</a>
						</li>

						<li>
							<a href="#" class="sidebar-nav-menu">
								<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
								<i class="fa fa-users sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Customer Management</span>
							</a>
							<ul>
								<li>
									<a href="/admin-account-user">View Accounts</a>  
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="sidebar-nav-menu">
								<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
								<i class="fa fa-briefcase sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Merchant Management</span>
							</a>
							<ul>
								<li>
									<a href="/admin-add-merchant">Add a Merchant</a>
								</li>
								<li>
									<a href="/admin-account-merchant">View Accounts</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="sidebar-nav-menu">
								<i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
								<i class="fa fa-dollar sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Transactions</span>
							</a>
							<ul>
								<li>
									<a href="admin-transaction-merchant">Merchant Payment</a>
								</li>
								<li>
									<a href="admin-transaction-user">Customer Cashout</a>
								</li>
							</ul>
						</li>

						<li class="active">
							<a href="/admin-inbox" class="active">
								<i class="fa fa-inbox sidebar-nav-icon"></i>
								<span class="sidebar-nav-mini-hide">Inbox</span>
							</a>
						</li>
					</ul>
					<!-- END Sidebar Navigation -->
				</div>
				<!-- END Sidebar Content -->
			</div>
			<!-- END Wrapper for scrolling functionality -->

			<!-- Sidebar Extra Info -->
			<div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
				<div class="text-center">
					<small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
				</div>
			</div>
			<!-- END Sidebar Extra Info -->
		</div>
		<!-- END Main Sidebar -->

		<!-- Main Container -->
		<div id="main-container">

			<header class="navbar navbar-inverse navbar-fixed-top">
				<!-- Left Header Navigation -->
				<ul class="nav navbar-nav-custom">
					<!-- Main Sidebar Toggle Button -->

					<li>
						<a onclick="App.sidebar('toggle-sidebar');">
							<i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;"></i>
							<i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;"></i>
						</a>
					</li>
					<!-- END Main Sidebar Toggle Button -->

					<!-- Header Link -->
					<li class="hidden-xs animation-fadeInQuick">
						<a><strong>Admin Console</strong></a>
					</li>
					<!-- END Header Link -->
				</ul>
				<!-- END Left Header Navigation -->

				<!-- Right Header Navigation -->
				<ul class="nav navbar-nav-custom pull-right">

					<!-- User Dropdown -->
					<li>
						<a href="/logout">
							Logout
						</a>
					</li>
					<!-- END User Dropdown -->
				</ul>    
			</header>
			<!-- END Header -->

			<!-- Page content -->
			<div id="page-content">
				<div class="header-section text-center">
					<div class="btn-group gallery-filter">
						<a class="btn btn-effect-ripple btn-primary active" data-category="all" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 43px; width: 43px; top: -9.5px; left: 13.5px;"></span>All</a>
						<a class="btn btn-effect-ripple btn-primary" data-category="adsApproval" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 64px; width: 64px; top: -24px; left: -1px;"></span>Ads Approval</a>
						<a class="btn btn-effect-ripple btn-primary" data-category="duePayment" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 57px; width: 57px; top: -0.5px; left: 12.5px;"></span>Payment</a>
						<a class="btn btn-effect-ripple btn-primary" data-category="cashout" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 70px; width: 70px; top: -9px; left: -18px;"></span>Cashout</a>
						<a class="btn btn-effect-ripple btn-primary" data-category="feedbacks" style="overflow: hidden; position: relative;"><span class="btn-ripple animate" style="height: 64px; width: 64px; top: -24px; left: -1px;"></span>Feedbacks</a>
					</div>
				</div>
				<!-- Table Styles Block -->
				<div class="block">
					<div>
						<!-- Table Styles Content -->
						<div class="table-responsive">

							<!-- Message List -->
							<div id="admin-inbox-message-list">
								<!-- Title -->
								<div class="block-title clearfix">
									<!-- <div class="block-options pull-right">
										<a class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;"><i class="fa fa-arrow-left"></i> Prev</a>
										<a class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;">Next <i class="fa fa-arrow-right"></i></a>
									</div> -->
									<div class="block-options pull-left">

										<a class="btn btn-effect-ripple btn-warning" title="" style="overflow: hidden; position: relative;" data-original-title="Mark as Read"><i class="fa fa-star"></i></a>

										<a class="btn btn-effect-ripple btn-danger" title="" style="overflow: hidden; position: relative;" data-original-title="Delete Selected"><i class="fa fa-times"></i></a>
									</div>
								</div>
								<!-- END Title -->

								<!-- Messages -->
								<div class="block-content-full" id="admin-inbox">
									<table class="table table-borderless table-hover table-vcenter remove-margin">
										<tbody>
											<% _(notifications).each(function(notification){
												if(notification.get("user")!=undefined){

													var title = ""; 
													var timestamp = "";
													var message = "";
													var user = "";
													var imageUrl = "";
													var imageId = "";
													var code = notification.get("code");

													if(code==1){
														if (notification.get("image")!=null){
															imageUrl = notification.get("image").get('sizeNormal').url();
															imageId = notification.get("image").id;
														}
														user = notification.get("user").get("username");
														title = "Ads Approval";
													}else if(code==2){
														title = "Pending User Cashout";
														user = notification.get("user").get("username");

													}else if(code==3){
														title = "User/Merchant Feedback";
														user = notification.get("user").get("username");
													}
													message = notification.get("message");
													timeTemp = notification.createdAt;

													var buffer = new Date(timeTemp.getTime()+timeTemp.getTimezoneOffset()*60*1000);
													var offset = timeTemp.getTimezoneOffset() / 60;
													var hours = timeTemp.getHours();
													buffer.setHours(hours - offset);
													timeTemp = buffer;  

													var dd = timeTemp.getDate();
											var mm = timeTemp.getMonth()+1; //January is 0!
											var yyyy = timeTemp.getFullYear();
											var hours = timeTemp.getHours();
											var minutes = timeTemp.getMinutes();
											var seconds = timeTemp.getSeconds();

											if(dd<10){
												dd='0'+dd;
											} 
											if(mm<10){
												mm='0'+mm;
											} 
											if(hours<10){
												hours='0'+hours;
											} 
											if(minutes<10){
												minutes='0'+minutes;
											} 
											if(seconds<10){
												seconds='0'+seconds;
											} 
											var timestamp = dd+'/'+mm+'/'+yyyy+" "+hours+":"+minutes+":"+seconds;


											%>
											<!-- Use the first row as a prototype for your column widths -->
											<tr>
												<td class="td-label td-label-muted text-center" style="width: 5%;">
													<label class="csscheckbox csscheckbox-primary"><input type="checkbox"><span></span></label>
												</td>

												<td>
													<h4>
														<a class="text-dark" title="
														<%=title+'|'+timestamp+'|'+user+'|'+message+'|'+imageUrl+'|'+imageId%>">
														<strong>
															<%=title%>
															<br>
														</strong>
													</a>
												</h4>
												<span class="text-muted"><%=message%></span>
											</td>
											<td class="hidden-xs text-center" style="width: 30px;">
												<i class="fa fa-paperclip fa-2x text-muted"></i>
											</td>
											<td class="hidden-xs text-right text-muted" style="width: 120px;"><em><%=timestamp%></em></td>
										</tr>
										<% 
									}});
									%>
								</tbody>
							</table>
						</div>
						<!-- END Messages -->
					</div>
					<!-- END Message List -->
					<!-- Message View -->
					<div id="admin-inbox-message-view" class="block-section display-none">
						<!-- Title -->
						<div class="block-title clearfix">

							<div class="block-options pull-left">
								<a class="btn btn-effect-ripple btn-default" id="message-view-back" style="overflow: hidden; position: relative;">
									<i class="fa fa-chevron-left">
									</i>  Back to Inbox</a>
								</div>
							</div>
							<!-- END Title -->
							
							<!-- Message Body -->
							<h3>
								<strong id="feedback-type">Feedback/ Ads Approval/ Cashout request</strong> 
								<small><em id="feedback-time"></em></small>
							</h3>
							<p>
								From:
								<a>
									<strong id="feedback-user">User ID</strong>
								</a> 
							</p>
							<hr>
							<p id="feedback-content">Content</p>
							<div class="text-center">
								<a href="/admin"><img id="feedback-image" src="http://files.parsetfss.com/cbebca68-eb67-4c19-9388-07669720e0c1/tfss-576ef32f-3c3b-4107-af1a-6b439738a103-image.JPEG"></a>
							</div>
							<br>
							<div id="approve-buttons" class="modal-footer display-none">
								<button id="approve-btn" type="button" class="btn btn-effect-ripple btn-success">
									<i class="fa fa-check-circle">
									</i> Approve
								</button>
								<div class="btn-group">
									<a data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Reject <span class="caret"></span></a>
									<ul class="dropdown-menu text-left">
										
										<li>
											<a id="bad-image" href="">
												<i class="fa fa-times-circle pull-right"></i>
												Poor image quality
											</a>
										</li>
										<li>
											<a id="bad-content" href="">
												<i class="fa fa-times-circle pull-right"></i>
												Inappropriate content
											</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- END Message Body -->
						</div>
						<!-- END Message View -->
					</div>
				</div>
				<!-- END Table Styles Content -->
			</div>
			<!-- END Table Styles Block -->
		</div>
		<!-- END Page Content -->
	</div>
	<!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->