<!-- start of main body codes -->
<div class="w-col w-col-10 main-admin">

  <div class="middletop">
    <a class="w-inline-block link" >
      <img class="centertop" src="images/Chef-Cap-256.png">
    </a>
  </div>

  <div class="w-clearfix head pendads">
    <h1 class="adminh1" id="ads">PENDING ADS</h1>
    <% _(images).each(function(image) { 
      var imageMetadata = image.get('imageMetadata');
      if (imageMetadata.get("approval")=="0") {%>
      <div class="w-clearfix image" data-ix="click-show">
        <img class="adsimage" src="<%= image.get('sizeNormal').url() %>" width="372" data-ix="over">
        <div class="approve">
          <form action="/i/<%=image.id%>/approve" method="post">
            <h4> <input type="submit" value="approve" class="count"> </h4>
          </form>
        </div>
        <div class="reject">
          <form action="/i/<%=image.id%>/reject" method="post">
            <h4> <input type="submit" value="reject" class="count"> </h4> 
            <h4> <input type="text" placeholder="reasons for ads rejection" name="reject_info" required><br></h4>
          </form>
        </div>
      </div>
      <% }}); %>
    </div>  
 <!--    <div class="head">
     <h1 class="adminh1" id="reports">REPORTS</h1>
       <div class="report">
       </div>
     </div>
     <div class="head">
       <h1 class="adminh1" id="merchants">MERCHANTS</h1>
       <div class="merchant">
         <div class="w-container data">
        </div>
       </div>
     </div>
     <div class="head">
       <h1 class="adminh1" id="users">USERS</h1>
       <div class="users">
         <div class="w-container data">
         </div>
       </div>
     </div>
     <div class="head">
       <h1 class="adminh1" id="pops">POPULARITY</h1>
       <div class="pops">
         <div class="w-container data">
         </div>
       </div>
     </div>
     <div class="head">
       <h1 class="adminh1" id="redeem">REDEMPTION</h1>
       <div class="redem">
         <div class="w-container data">
         </div>
       </div>
     </div>
     <div class="head">
       <h1 class="adminh1" id="pay">PAYMENT</h1>
       <div class="pay">
         <div class="w-container data">
         </div>
       </div>
     </div>
   </div>   -->

   <div class="infobox" id="info" data-ix="click-hide-info">
    <div class="w-row inforow" id="infobox">
      <div class="w-col w-col-6">
        <img class="popup-image  adsimg" src="images/10547598_796038173770249_6562118821213318215_n.jpg" width="320" data-ix="click-show">

      </div>
      <div class="w-col w-col-6 info">
        <h1>Pending Promotion</h1>
        
        <h4>Description: </h4><h4 class="promoInfo">Description</h4>
        <br><h4>Category: </h4><h4 class="category">Category</h4>
        <br><h4>Expires: </h4><h4 class="expiry">Expiry</h4>
        <br><h4>Map: </h4><h4 class="site">Locaiton</h4>

        <h5>Expiry Date: DDMMYYYY<br>
          <br>Category: CAFE</h5>
          <div class="w-container infoactive">
            <a class="w-inline-block infoicon" href="#">
              <img id="approve-button" class="infoimg" src="images/Submit-01-256.png">
              <h2>approve</h2>
            </a>
            <a class="w-inline-block infoicon" href="#">
              <img id="reject-button" class="infoimg" src="images/Delete-256.png">
              <h2>reject</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  end of main body codes -->

  <!--  start of nav right codes  -->
  <div class="w-col w-col-1 navright">
    <a class="w-inline-block nav-img text" href="#merchants">
      <h2 class="admin" data-ix="hover">merchants data</h2>
    </a>
    <a class="w-inline-block nav-img text" href="#users">
      <h2 class="admin" data-ix="hover">customers data</h2>
    </a>
    <a class="w-inline-block nav-img text" href="#pops">
      <h2 class="admin" data-ix="hover">mailbox</h2>
    </a>
  </div>
  <!-- end of nav right codes -->

  <!-- left side navigation codes -->
  <div class="w-col w-col-1 nav">
    <a class="w-inline-block nav-img text" href="#ads">
      <h2 class="admin" data-ix="hover">ads approval</h2>
    </a>
    <a class="w-inline-block nav-img text" href="#reports">
      <h2 class="admin" data-ix="hover">vip ads</h2>
    </a>
    <a class="w-inline-block nav-img text" href="#redeem">
      <h2 class="admin" data-ix="hover">cashout history</h2>
    </a>
    <a class="w-inline-block nav-img text" href="#pay">
      <h2 class="admin" data-ix="hover">payment history</h2>
    </a>
    <a class="w-inline-block nav-img text" href="/logout">
      <h2 class="admin" data-ix="over">logout</h2>
    </a>
  </div>
<!--  end of left side navigation codes -->