div class="w-row bod">
  <!-- left side navigation codes -->
  <div class="w-col w-col-1 nav"><a class="w-inline-block nav-img text" href="#ads"><h2 class="admin" data-ix="hover">ads</h2></a><a class="w-inline-block nav-img text" href="#reports"><h2 class="admin" data-ix="hover">reports</h2></a>
    <a class="w-inline-block nav-img text" href="#redeem">
      <h2 class="admin" data-ix="hover">redemption</h2>
    </a><a class="w-inline-block nav-img text" href="#pay"><h2 class="admin" data-ix="hover">payment</h2></a>
    <a class="w-inline-block nav-img" href="#ads" data-ix="over">
      <img class="imgnav" src="images/Chef-Cap-256.png" alt="53e23ddab0bc15262a404c20_Chef-Cap-256.png">
    </a><a class="w-inline-block nav-img text" href="/logout"><h2 class="admin" data-ix="over">logout</h2></a>
  </div>
  <!-- end of left side navigation codes -->
  <div class="w-col w-col-10 main-admin">
    <div class="w-clearfix head pendads">
      <h1 class="adminh1" id="ads">PENDING ADS</h1>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10533753_786254331394684_4262681625243092472_n.jpg" width="372" alt="53e49766b867b3402d273e63_10533753_786254331394684_4262681625243092472_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10463866_788428184535910_4670643574460017526_n.jpg" width="350" alt="53e49780b867b3402d273e65_10463866_788428184535910_4670643574460017526_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10533753_786254331394684_4262681625243092472_n.jpg" width="372" alt="53e49766b867b3402d273e63_10533753_786254331394684_4262681625243092472_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10500504_676519605774710_8716073152218881260_n.jpg" width="339" alt="53e49839b867b3402d273e82_10500504_676519605774710_8716073152218881260_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10530892_10152959347328776_8616896917798179278_n.jpg" width="341" alt="53e4985960845bcd45af264a_10530892_10152959347328776_8616896917798179278_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10423292_10152669502764305_4322246300390391268_n.jpg" width="480" alt="53e49776a4bf49cb45b74f09_10423292_10152669502764305_4322246300390391268_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10486050_10152633391009493_5371388949366928839_n.jpg" width="250" alt="53e4982db867b3402d273e80_10486050_10152633391009493_5371388949366928839_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10574380_763478033695520_3810918832833122451_n.png" width="384" alt="53e498b0b867b3402d273e85_10574380_763478033695520_3810918832833122451_n.png">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/Costa-Coffee-8-Aug-2014.jpg" width="275" alt="53e498c7a4bf49cb45b74f31_Costa-Coffee-8-Aug-2014.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/10532461_10152692351558060_5481138621856853216_n.jpg" width="343" alt="53e49877a4bf49cb45b74f2c_10532461_10152692351558060_5481138621856853216_n.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="w-clearfix image" data-ix="click-show-pending">
        <img class="imgadmin" src="images/Starbucks-6-Aug-2014.jpg" width="275" alt="53e498fca4bf49cb45b74f37_Starbucks-6-Aug-2014.jpg">
        <div class="like">
          <h4 class="count">approve</h4>
        </div>
        <div class="share">
          <h4 class="count">reject</h4>
        </div>
      </div>
      <div class="pendinginfo" data-ix="click-hide-info">
        <div class="w-row inforow">
          <div class="w-col w-col-6 info">
            <img class="nav-img" src="images/10533753_786254331394684_4262681625243092472_n.jpg" width="372" alt="53e49766b867b3402d273e63_10533753_786254331394684_4262681625243092472_n.jpg">
          </div>
          <div class="w-col w-col-6 info">
            <h1>Pending Promotion</h1>
            <h4>Promotion Details<br>DING TAI FUNG<br>1-for-1 deals<br>monday to friday<br>2pm - 5pm</h4>
            <h5>Expiry Date: DDMMYYYY<br><br>Category: CAFE</h5>
            <div class="w-container infoactive">
              <a class="w-inline-block infoicon" href="#">
                <img class="infoimg" src="images/Submit-01-256.png" alt="53e4d6ddb867b3402d274544_Submit-01-256.png">
                <h2>approve</h2>
              </a>
              <a class="w-inline-block infoicon" href="#">
                <img class="infoimg" src="images/Delete-256.png" alt="53e4d76aa4bf49cb45b75595_Delete-256.png">
                <h2>reject</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="reports">REPORTS</h1>
      <div class="report"></div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="merchants">MERCHANTS</h1>
      <div class="merchant">
        <div class="w-container data"></div>
      </div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="users">USERS</h1>
      <div class="users">
        <div class="w-container data"></div>
      </div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="pops">POPULARITY</h1>
      <div class="pops">
        <div class="w-container data"></div>
      </div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="redeem">REDEMPTION</h1>
      <div class="redem">
        <div class="w-container data"></div>
      </div>
    </div>
    <div class="head">
      <h1 class="adminh1" id="pay">PAYMENT</h1>
      <div class="pay">
        <div class="w-container data"></div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-1 navright"><a class="w-inline-block nav-img text" href="#merchants"><h2 class="admin" data-ix="hover">merchants</h2></a><a class="w-inline-block nav-img text" href="#users"><h2 class="admin" data-ix="hover">users</h2></a><a class="w-inline-block nav-img text"
    href="#pops"><h2 class="admin" data-ix="hover">popularity</h2></a>
  </div>
</div>






<div class="w-row bod">
    <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2 nav"><a class="w-inline-block nav-img" href="#ads"><h2 class="admin" data-ix="over">ads</h2></a><a class="w-inline-block nav-img" href="#merchants"><h2 class="admin" data-ix="over">merchants</h2></a><a class="w-inline-block nav-img" href="#users"><h2 class="admin" data-ix="over">users</h2></a>
      <a
      class="w-inline-block nav-img" href="#pops">
        <h2 class="admin" data-ix="over">popularity</h2>
        </a><a class="w-inline-block nav-img" href="#top-ads"><h2 class="admin" data-ix="over">top ads</h2></a><a class="w-inline-block nav-img" href="#reports"><h2 class="admin" data-ix="over">reports</h2></a>
        <a class="w-inline-block nav-img" href="#ads"
        data-ix="over">
          <img class="logo" src="images/chef3.png" id="home" alt="53d10a5465325541683a71da_chef3.png" data-ix="over">
        </a>
       <form action="/logout" method="post" id="logout">
        <div class="w-inline-block nav-img">
          <button>LOGOUT</button>
        </div>
      </form>
    </div>
    <div class="w-col w-col-10 w-col-small-10 w-col-tiny-10 main">
      <div class="w-clearfix head">
        <h1 id="ads">PENDING ADS</h1>
        <article class="adsblock">
            <div class="w-container ads">
             <div class="w-row row">
              <article class="w-col w-col-3 w-col-small-6 display">
                <% _(images).each(function(image) { 
                  if (image.get("approval")==0) {
                  %>
                <div>
                  <a href="/i/<%= image.id %>"><img src="<%= image.get('sizeOriginal').url() %>" /></a>
                </div>
                <% 
                  }
                }); %>
              </article>  
            </div>
          </div>
        </article>
      </div>
      <div class="head">
        <h1 id="merchants">MERCHANTS</h1>
        <div class="box merchant"></div>
      </div>
      <div class="head">
        <h1 id="users">USERS</h1>
        <div class="box users"></div>
      </div>
      <div class="head">
        <h1 id="pops">POPULARITY</h1>
        <div class="box info"></div>
      </div>
      <div class="head">
        <h1 id="top-ads">TOP ADS</h1>
        <div class="box report"></div>
      </div>
      <div class="head">
        <h1 id="reports">REPORTS</h1>
        <div class="box upload"></div>
      </div>
    </div>
  </div>


<!-- 


div class="main">
    <div class="head"></div>
    <nav class="top">
      <div class="w-row top">
        <div class="w-col w-col-2">
          <div class="text">bootstrap</div>
        </div>
        <div class="w-col w-col-2">
          <div class="text">ads</div>
        </div>
        <div class="w-col w-col-2">
          <div class="text">merchants</div>
          <article class="adsblock">
            <div class="w-container ads">
             <div class="w-row row">
              <article class="w-col w-col-3 w-col-small-6 display">
                <% _(images).each(function(image) { 
                  if (image.get("approval")==0) {
                  %>
                <div>
                  <a href="/i/<%= image.id %>"><img src="<%= image.get('sizeSmall').url() %>" /></a>
                </div>
                <% 
                  }
                }); %>
              </article>  
            </div>
          </div>
        </article>

        </div>
        <div class="w-col w-col-2">
          <div class="text">users</div>
        </div>
        <div class="w-col w-col-2">
          <div class="text">popularity</div>
        </div>
        <div class="w-col w-col-2">
          <div class="text">top ads</div>
        </div>
      </div>
    </nav>
  </div>
  <div class="header">
    <h1>bootstrap</h1>
  </div>
  <div class="content">
    <div class="w-container container">
      <h3>place your bootstrap form here</h3>
    </div>
  </div>
  <div class="header">
    <h1>ads</h1>
  </div>
  <div class="content">
    <div class="w-container">
      <h3>ads for your approval<br>ads id - ads img - ads title - company name - approve or reject</h3>
    </div>
  </div>
  <div class="header">
    <h1>merchants</h1>
  </div>
  <div class="content">
    <div class="w-container">
      <h3>merchant list<br>merchant id - company name - password - email&nbsp;</h3>
    </div>
  </div>
  <div class="header">
    <h1>users</h1>
  </div>
  <div class="content">
    <div class="w-container">
      <h3>user list<br>user id - # likes - # shares - # feedbacks&nbsp;</h3>
    </div>
  </div>
  <div class="header">
    <h1>popularity</h1>
  </div>
  <div class="content">
    <div class="w-container">
      <h3>algorithm and implementation</h3>
    </div>
  </div>
  <div class="header">
    <h1>top ads</h1>
  </div>
  <div class="content">
    <div class="w-container">
      <h3>place the top ads</h3>
    </div>
  </div> -->