<html data-wf-site="53d0fce04156486e385c75ee">
<head>
  <% if (locals.title) { %>
    <title>atncoJR - <%= title %></title>
  <% } else { %>
    <title>atncoJR</title>
  <% } %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/atncojr.webflow.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/placeholder/favicon.ico">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]
      }
    });
  </script>

  <script type="text/javascript" src="js/modernizr.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <script src="/javascripts/backbone.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
  <script type="text/javascript" src="/javascripts/facebook.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  
</head>
<body>
    <div>
      <% if (locals.flash) { %>
        <div class="flash"><%= flash %></div>
      <% } %>
      
      <%- body %>
    </div>
	
  <script type="text/javascript" src="js/webflow.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  
</body>
</html>
  
