<div class="top">
    <a class="w-inline-block link" href="index.html">
      <img class="centertop" src="images/Chef-Cap-256.png" alt="53e23ddab0bc15262a404c20_Chef-Cap-256.png">
    </a>
  </div>
  <div class="login">
    <div class="w-row">
      <div class="w-col w-col-5">
        <h1>LOGIN</h1>
        <div class="w-form">
          <form id="email-form" action="/login" method="post" name="email-form" data-name="Email Form">
            <label class="label" for="name">Email</label>
            <input class="w-input" id="name" type="text" placeholder="Enter your username" name="username" data-name="username" required="required" autofocus="autofocus">
            <label class="label" for="Password">Password</label>
            <input class="w-input" id="password" type="password" name="password" data-name="password" required="required" autofocus="autofocus">
            <input class="w-button go" type="submit" value="login" data-wait="Please wait...">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
      <div class="w-col w-col-2">
        <div>
          <br>&nbsp;</div>
      </div>
      <div class="w-col w-col-5">
        <h1>REGISTER</h1>
        <div class="w-form">
          <form id="email-form-2" action="/signup" method="post" name="email-form-2" data-name="Email Form 2">
            <label class="label" for="name-2">Email</label>
            <input class="w-input" id="username" type="text" placeholder="Enter your email address" name="name" data-name="Name 2" required="required" autofocus="autofocus">
            <label class="label" for="email-2">Password</label>
            <input class="w-input" id="password" type="password" name="email" data-name="Email 2" required="required" autofocus="autofocus">
            <input class="w-button go" type="submit" value="register" data-wait="Please wait...">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>