<div class="header">
    <h1>PRESENT</h1>
  </div>
  <div class="present">
    <div class="w-container">
      <div class="w-row">
    <article class="adsblock">
      <div class="w-container ads">
       <div class="w-row row">
        <article class="w-col w-col-3 w-col-small-6 display">
          <% _(images).each(function(image) { %>
          <div>
            <a href="/i/<%= image.id %>"><img src="<%= image.get('sizeSmall').url() %>" /></a>
          </div>
          <% }); %>
        </article>  
      </div>
    </div>
  </article>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>PAST</h1>
  </div>
  <div class="past">
    <div class="w-container">
      <div class="w-row">
        <div class="w-row">
        <!-- Display Past Photos -->
        PAST PHOTOS
      </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>STATS</h1>
  </div>
  <div class="stats">
    <div class="w-container">
      <div class="w-row">
        <!-- Display STATS -->
        STATS
      </div>
    </div>
  </div>
  <div class="header">
    <h1>UPLOAD</h1>
  </div>
  <div class="upload">
      <form id="upload" name="email-form" data-name="Email Form">
        <!-- <label for="company-name-4">Company Name:</label>
        <input class="w-input" id="company-name-4" type="text" placeholder="Enter your company name" name="company-name" data-name="Company Name" required="required">
        <label for="email-4">Email Address:</label>
        <input class="w-input" id="email-4" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"> -->
        <label for="ads-title-4">Ads Title</label>
        <input class="w-input" id="ads-title-4" type="email" placeholder="Enter the title of your ads" name="title" data-name="Ads Title" required="required">
        <label for="ad-expiry-date">Expiry Date</label>
        <input class="w-input" id="ad-expiry-date" type="email" placeholder="Enter its expiry date ddmmyyyy" name="expiry-date" data-name="Ad expiry date" required="required">
        <label for="file-4">Image</label>
        <input type="file" />
        <a href="#" class="upload"></a>
        <!-- <input class="w-button submi"t type="submit" value="Submit" data-wait="Please wait..."> -->
      </form>
      <script type="text/javascript">
        new Uploader({ el: "#upload" });
      </script>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  <div class="header">
    <h1>PROFILE</h1>
  </div>
  <div class="profile">
    <div>ID</div>
    <div>name</div>
    <div>company name</div>
    <div>popularity score</div>
    <div>old password</div>
    <div>new password</div>
  </div>

<script type="text/javascript">
  new Uploader({ el: "#upload" });
</script>