<script>
    function myFunction() {
        var pass1 = document.getElementById("pass1").value;
        var pass2 = document.getElementById("pass2").value;
        var ok = true;
        if (pass1 != pass2) {
            alert("Passwords Do not match");
            document.getElementById("pass1").style.borderColor = "#E34234";
            document.getElementById("pass2").style.borderColor = "#E34234";
            ok = false;
        }
        else {
            alert("Passwords Match!!!");
        }
        return ok;
    }


    if ((locals.flash)) {
        alert(flash);
    }
    
</script>

<!-- Login Container -->
<div id="login-container">
    <!-- Register Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <i class="fa fa-plus"></i><strong>Create Account</strong>
    </h1>
    <!-- END Register Header -->

    <!-- Register Form -->
    <div class="block animation-fadeInQuickInv">
        <!-- Register Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="/" class="btn btn-effect-ripple btn-primary" data-placement="left" title="Back to home page"><i class="fa fa-home"></i></a>
                
                <a href="/login-merchant" class="btn btn-effect-ripple btn-primary" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
            </div>
            <h2>Register as a Merchant</h2>
        </div>
        <!-- END Register Title -->

        <!-- Register Form -->
        <form id="form-register" action="/signup-merchant" method="post" class="form-horizontal" onsubmit="return myFunction()">
            <input type="hidden" name="origin" value="/merchant">
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" name="username" class="form-control" placeholder="*ID" required>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-12">
                    <input id="pass1" type="password" name="password" class="form-control" placeholder="*Password" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input id="pass2" type="password" name="password" class="form-control" placeholder="*Confirm Password" required>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="email" name="email" class="form-control" placeholder="*Email" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input  type="text" name="company" class="form-control" placeholder="*Company Name" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" name="website" class="form-control" placeholder="*Your Website URL" required>
                </div>
            </div>
<!-- 
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" name="social" class="form-control" placeholder="*Social Media Site URL" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" name="desc" class="form-control" placeholder="*Company Description" required>
                </div>
            </div> -->

            <div class="form-group form-actions">
                
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-success"><i class="fa fa-plus"></i> Create Account</button>
                </div>
            </div>
        </form>
        <!-- END Register Form -->
    </div>
    <!-- END Register Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
        <small><span id="year-copy"></span> &copy; AT+CO.Jr.</small>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Login Container -->

