
<div id="page-wrapper" class="page-loading">
    <!-- Preloader -->
    <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
    <!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
    <div class="preloader">
        <div class="inner">
            <!-- Animation spinner for all modern browsers -->
            <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

            <!-- Text for IE9 -->
            <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
        </div>
    </div>
    



    <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
        <!-- Alternative Sidebar -->
        <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
            <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
            <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll-alt">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    <!-- Color Themes -->
                    <!-- Preview a theme on a page functionality can be found in js/app.js - colorThemePreview() -->
                    <div class="sidebar-section">
                        <h2 class="text-light">Colors</h2>
                        <ul class="sidebar-themes clearfix">
                            <li>
                                <a href="javascript:void(0)" class="themed-background-default" data-theme="default" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-social" data-theme="css/themes/social.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-flat" data-theme="css/themes/flat.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-amethyst" data-theme="css/themes/amethyst.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-creme" data-theme="css/themes/creme.css" data-theme-navbar="navbar-inverse"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-passion" data-theme="css/themes/passion.css" data-theme-navbar="navbar-inverse"></a>
                            </li>

                        </ul>
                    </div>
                    <!-- END Color Themes -->

                    <!-- Profile -->
                    <div class="sidebar-section">
                        <h2 class="text-light">Profile</h2>
                        <form action="/update-user" method="post" class="form-control-borderless" onsubmit="return false;">
                            <input type="hidden" name="origin" value="/user-inbox">
                            <div class="form-group">
                                <label for="side-profile-name">Gender</label>
                                <input type="text" name="" class="form-control" value="<%=Parse.User.current().get("gender")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-name">Age</label>
                                <input type="text" name="" class="form-control" value="<%=Parse.User.current().get("age")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-name">Occupation</label>
                                <input type="text" name="" class="form-control" value="<%=Parse.User.current().get("occupation")%>">
                            </div>
                            <div class="form-group">
                                <label for="side-profile-name">Paypal Account</label>
                                <input type="text" name="" class="form-control" value="<%=Parse.User.current().get("paypal")%>">
                            </div>
                            <div class="form-group remove-margin">
                                <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- END Profile -->
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Alternative Sidebar -->

        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Sidebar Brand -->
            <div id="sidebar-brand" class="themed-background">
                <a href="/user" class="sidebar-title">
                    <i class=""></i> <span class="sidebar-nav-mini-hide">Your<strong>Foodie Market</strong></span>
                </a>
            </div>
            <!-- END Sidebar Brand -->

            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
             <!-- Sidebar Content -->
             <div class="sidebar-content">
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">

                    <li class="sidebar-separator">
                        <i class="fa fa-ellipsis-h"></i>
                    </li>

                    <li>
                        <a href="/user-transaction">
                            <i class="fa fa-eye sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Account</span>
                        </a>
                    </li>

                    <li>
                        <a href="/user-bookmark">
                            <i class="fa fa-bookmark sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Bookmark</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class=" active">
                            <i class="fa fa-inbox sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Inbox</span>
                            <span class="badge pull-right">9</span>
                        </a>
                    </li>
                    <li>
                        <a href="#modal-compose" data-toggle="modal" style="overflow: hidden; position: relative;">
                            <i class="fa fa-pencil sidebar-nav-icon"></i>
                            <span class="sidebar-nav-mini-hide">Feedback</span>
                        </a>
                    </li>
                </ul>
                <!-- END Sidebar Navigation -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->

        <!-- Sidebar Extra Info -->
        <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
            <div class="text-center">
                <small>Crafted with <i class="fa fa-heart text-danger"></i> by AT+CO.JR. </small>
            </div>
        </div>
        <!-- END Sidebar Extra Info -->
    </div>
    <!-- END Main Sidebar -->

    <!-- Main Container -->
    <div id="main-container">

        <header class="navbar navbar-inverse navbar-fixed-top navbar-glass">              
            <!-- Left Header Navigation -->
            <ul class="nav navbar-nav-custom">
                <!-- Main Sidebar Toggle Button -->
                <li>
                    <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                        <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini" style="margin-bottom: 13px; margin-top: 13px;"></i>
                        <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full" style="margin-bottom: 13px; margin-top: 13px;"></i>
                    </a>
                </li>
                <!-- END Main Sidebar Toggle Button -->

                <!-- Header Link -->
                <li class="hidden-xs animation-fadeInQuick">
                    <a><strong>Your message inbox</strong></a>
                </li>
                <!-- END Header Link -->
            </ul>
            <!-- END Left Header Navigation -->

            <!-- Right Header Navigation -->
            <ul class="nav navbar-nav-custom pull-right">
             

                <!-- Alternative Sidebar Toggle Button -->
                <li>
                    <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
                        <i class="fa fa-user" style="margin-bottom: 13px; margin-top: 13px;"></i>
                    </a>
                </li>
                <!-- END Alternative Sidebar Toggle Button -->

                <!-- User Dropdown -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-sign-in" style="margin-bottom: 13px; margin-top: 13px;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                            <strong>USER</strong>
                        </li>
                        <li>
                            <a href="/">
                                <i class="fa fa-sign-out fa fa-inbox fa-fw pull-right"></i>
                                Logout
                            </a>
                        </li>
                        
                        
                    </ul>
                </li>
                <!-- END User Dropdown -->
            </ul>
            <!-- END Right Header Navigation -->
        </header>
        <!-- END Header -->

        <!-- Page content -->
        <div id="page-content" style="min-height: 553px;">

            <!-- Table Styles Block -->
            <div class="block">

                <!-- Table Styles Content -->
                <div class="table-responsive">

                    <!-- Message List -->
                    <div id="user-inbox-list">
                        <!-- Title -->
                        <div class="block-title clearfix">
                            <div class="block-options pull-right">
                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;"><i class="fa fa-arrow-left"></i> Prev</a>
                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" style="overflow: hidden; position: relative;">Next <i class="fa fa-arrow-right"></i></a>
                            </div>
                            <div class="block-options pull-left">

                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-warning" title="" style="overflow: hidden; position: relative;" data-original-title="Mark as Read"><i class="fa fa-star"></i></a>

                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-danger" title="" style="overflow: hidden; position: relative;" data-original-title="Delete Selected"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- END Title -->

                        <!-- Messages -->
                        <div class="block-content-full">
                            <table class="table table-borderless table-striped table-vcenter remove-margin">
                                <tbody>
                                    <!-- Use the first row as a prototype for your column widths -->
                                    <tr>
                                        <td class="td-label td-label-muted text-center" style="width: 5%;">
                                            <label class="csscheckbox csscheckbox-primary"><input type="checkbox"><span></span></label>
                                        </td>

                                        <td>
                                            <h4>
                                                <strong>Product updates</strong>
                                            </h4>
                                            <span class="text-muted">This is the preview text of this message..</span>
                                        </td>
                                        <td class="hidden-xs text-center" style="width: 30px;">
                                            <i class="fa fa-paperclip fa-2x text-muted"></i>
                                        </td>
                                        <td class="hidden-xs text-right text-muted" style="width: 120px;"><em>just now</em></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- END Messages -->
                    </div>
                    <!-- END Message List -->

                </div>
                <!-- END Table Styles Content -->
            </div>
            <!-- END Table Styles Block -->
            
        </div>
        <!-- END Page Content -->
    </div>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
<!-- END Page Wrapper -->


<!-- Compose Message -->
<div id="modal-compose" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><strong>Compose Message</strong></h3>
            </div>
            <div class="modal-body">
                <form action="/compose" method="post" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <input type="hidden" name="origin" value="/user">
                        <div class="col-xs-12">
                            <select id="fcompose-users" name="type" class="select-chosen" data-placeholder="To.." style="width: 250px;">
                                <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                <option value="Mr.Admin">Mr. Admin</option>
                                <option value="Ms.Design">Ms. Design</option>
                                <option value="Dr.DB">Dr. Database</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea id="fcompose-message" name="message" rows="7" class="form-control" placeholder="Write your message.."></textarea>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END Compose Message -->