<div class="w-row bod">

  <!-- start of navigation codes -->
  <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 nav">
    <a class="w-inline-block nav-img" href="#" data-ix="over">
      <img class="imgnav" src="images/Shape13-256.png" alt="NEW">
      <h2>new</h2>
    </a>
    <a class="w-inline-block nav-img" href="#top" data-ix="over">
      <img class="imgnav" src="images/Shape-Lightning-256.png" alt="TRENDING">
      <h2>trending</h2>
    </a>
    <a class="w-inline-block nav-img" href="#top" data-ix="over">
      <img class="imgnav" src="images/Race-Flag-256.png" alt="ENDING">
      <h2>ending</h2>
    </a>
    <a class="w-inline-block nav-img" href="#cafe" data-ix="over">
      <img class="imgnav" src="images/Beverage-Coffee-01-256.png" alt="CAFE">
      <h2>cafe</h2>
    </a>
    <a class="w-inline-block nav-img" href="#bars" data-ix="over">
      <img class="imgnav" src="images/Beverage-Juice-02-256.png" alt="BAR">
      <h2>bar</h2>
    </a>
    <a class="w-inline-block nav-img" href="#dining" data-ix="over">
      <img class="imgnav" src="images/Cutlery-Fork-Knife-256.png" alt="DINING">
      <h2>dining</h2>
    </a>
    <a class="w-inline-block nav-img" onclick="logout()" data-ix="over">
      <img class="imgnav" src="images/Out-256.png" alt="LOGOUT">
      <h2>logout</h2>
    </a>

  </div>
  <!-- end of navigation codes -->
  <!-- start of another navigation codes -->
  <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 navright">

    <a class="w-inline-block nav-img" href="#profile" data-ix="over">
      <img class="imgnav" src="images/User-Profile-256.png" alt="PROFILE">
      <h2 data-ix="over">profile</h2>
    </a>
    <a class="w-inline-block nav-img" href="#reports" data-ix="over">
      <img class="imgnav" src="images/Money-Bag-256.png" alt="REDEMPTION">
      <h2 data-ix="over">cashout</h2>
    </a>
    <a class="w-inline-block nav-img" href="#upload-section" data-ix="over">
      <img class="imgnav" src="images/Bookmark-256.png" alt="FAVOURITES">
      <h2 data-ix="over">favourites</h2>
    </a>
    <a class="w-inline-block nav-img" href="/about" data-ix="over">
      <img class="imgnav" src="images/Message-Mail-256.png" alt="MAILBOX" data-ix="over">
      <h2 data-ix="over">mailbox</h2>
    </a>
  </div>
  <!-- end of another navigation codes -->

  
  <!-- start of main body codes -->
  <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11 main">
    <div class="middletop">
      <a class="w-inline-block link" >
        <img class="centertop" src="images/Chef-Cap-256.png" alt="LOGO">
      </a>
    </div>

    <!-- start of top listing --> 

    <div class="w-clearfix head">
      <h1 id="top">-</h1>
      <% _(images).each(function(image) { %>
      <div class="w-clearfix image bloc">
        <img class="imghome" src="<%= image.get('sizeNormal').url() %>" width="480" alt="ADS>" data-ix="click-show over">
        <div class="like" data-ix="over">
          <h4 class="count">like</h4>
        </div>
        <div class="share" data-ix="over">
          <h4 class="count" data-ix="over">share</h4>
        </div>
      </div>
      <% }); %>
    </div>
    <!-- end of top listing --> 

    <!-- start of cafe listing -->
    <div class="w-clearfix head">
      <h1 id="cafe">CAFE</h1>
      <% _(images).each(function(image) { 
        var imageMetadata = image.get('imageMetadata');
        if (imageMetadata.get("category")==="cafe"){%>
        <div class="w-clearfix image bloc">
          <img class="imghome" src="<%= image.get('sizeNormal').url() %>" width="480" alt="ADS" data-ix="click-show over">
          <div class="like" data-ix="over">
            <h4 class="count">like</h4>x
          </div>
          <div class="share" data-ix="over">
            <h4 class="count" data-ix="over">share</h4>
          </div>
        </div>
        <% }
      }); %>
    </div>
    <!-- end of cafe listing -->


    <!-- start of bar listing -->
    <div class="w-clearfix head">
      <h1 id="bar">BAR</h1>
      <% _(images).each(function(image) { 
        var imageMetadata = image.get('imageMetadata');
        if (imageMetadata.get("category")==="bar"){%>
        <div class="w-clearfix image bloc">
          <img class="imghome" src="<%= image.get('sizeNormal').url() %>" width="480" alt="ADS" data-ix="click-show over">
          <div class="like" data-ix="over">
            <h4 class="count">like</h4>
          </div>
          <div class="share" data-ix="over">
            <h4 class="count" data-ix="over">share</h4>
          </div>
        </div>
        <% }}); %>
      </div>
      <!-- end of top listing -->

      <!-- start of dining listing -->
      <div class="w-clearfix head">
        <h1 id="dining">DINING</h1>
        <% _(images).each(function(image) { 
          var imageMetadata = image.get('imageMetadata');
          if (imageMetadata.get("category")==="dining"){%>
          <div class="w-clearfix image bloc">
            <img class="imghome" src="<%= image.get('sizeNormal').url() %>" width="480" alt="ADS" data-ix="click-show over">
            <div class="like" data-ix="over">
              <h4 class="count">like</h4>
            </div>
            <div class="share" data-ix="over">
              <h4 class="count" data-ix="over">share</h4>
            </div>
          </div>
          <% }}); %>
        </div>
        <!-- end of dining listing -->

        <!-- start of infobox codes -->
        <div class="infobox" id="info" data-ix="click-hide">
          <div class="w-row inforow" id="infobox">
            <div class="w-col w-col-6">
              <img id="popup-image" class="adsimg" src="images/10547598_796038173770249_6562118821213318215_n.jpg" width="320" 
              data-ix="click-show">
            </div>
            <div class="w-col w-col-6 info">
              <h1>Promotion Details</h1>
              <h4>--COMPANY NAME--<br>Promotion Description<br>Promotion Duration<br>Promotion Location</h4>
              <div class="w-container infoactive">
                <a class="w-inline-block infoicon" href="/like" data-ix="over">
                  <img class="infoimg" src="images/Shape-Heart-256.png">
                  <h2>like</h2>
                </a>
                <a class="w-inline-block infoicon" href="/share" data-ix="over">
                  <img class="infoimg" src="images/Shape12-256.png">
                  <h2>share</h2>
                </a>
                <a class="w-inline-block infoicon" href="/fav" data-ix="over">
                  <img class="infoimg" src="images/Shape-Diamond-256.png">
                  <h2>favourite</h2>
                </a>
                <a class="w-inline-block infoicon" href="/visit" data-ix="over">
                  <img class="infoimg" src="images/Shape-Spade-256.png">
                  <h2>visit us</h2>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end of infobox codes -->

      </div>
      <!-- end of main body codes -->

    </div>
    