<div class="w-row div">
  <div class="w-col w-col-4 user" data-ix="hover-user">
    <div class="w-container container">
      <div class="user-login facebook">
        <div class="text" id="user-login">facebook login</div>
        <img class="img" src="images/facebook.png" width="40" alt="53b62c71e05702c711d00d66_facebook.png">
      </div>
    </div>
  </div>
  <div class="w-col w-col-4 merchant" data-ix="hover-merchant">
    <div class="w-container container">
      <div class="merchant-login normal">
        <div class="text" id="merchant-login">merchant login</div>
        <div class="text error" id="merchant-login">- error? –</div>
      </div>
      <div class="w-form merchant-login">
        <form action="/login" id="email-form" name="email-form" data-name="Email Form">
          <label for="merchant-id">ID:</label>
          <input class="w-input" id="merchant-id" type="text" placeholder="Enter your ID" name="username" data-name="merchant ID" required="required">
          <label for="password-2">Password</label>
          <input class="w-input" id="password-2" type="email" placeholder="Enter your password" name="password" data-name="Password 2" required="required">
          <input class="w-button" type="submit" value="Submit" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-4 merchant register">
    <div class="w-container container">
      <div class="merchant-login normal">
        <div class="text" id="merchant-login">merchant registration</div>
        <div class="text error" id="merchant-login">- error? –</div>
      </div>
      <div class="w-form merchant-login">
        <form action="/signup" method="POST" id="email-form" name="email-form" data-name="Email Form">
          
          <label for="merchant-id">ID:</label>
          <input class="w-input" id="new-merchant-id" type="text" placeholder="Enter your ID" name="username" data-name="new merchant ID" required="required">
          
          <label for="merchant_password">Password</label>
          <input class="w-input" id="new-merchant-password" type="password" placeholder="Enter your password" name="password" data-name="new merchant password" required="required">
          
          <label for="merchant-company">Company</label>
          <input class="w-input" id="new-merchant-company" type="text" placeholder="Enter your company" name="company" data-name="new merchant company" required="required">
          
          <input class="w-button" type="submit" value="Register" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
  </div>
</div>
</div>