@media screen and (min-width: 992px) {

	.mfp-figure figure {
	    margin-left: -300px;
	}

	.mfp-bottom-bar {
	    position: fixed;
	    top: 150px;
	    width: 300px;
	    right: 25px;
	    left: auto;
	    font-size: 18px;
	    font-family: Verdana;
	    font-weight: lighter;
	}

}
.widget-image.widget-image-xs {
    margin-top: 40px;
    height: 200;
}

h3{
	color: #5ccdde;
	font-size: 20px
}
